/*= require_self */
/*= require devise_bootstrap_views */
@import "bootstrap-sprockets";
@import "bootstrap";

.main-container { padding-top: 40px; }

.padded { padding-top: 30px; }

.auth-twitter-butt {
  font-size: 200%;
  small { 
    display: block;
    font-size: 40%;
  }
}

.jumbotron, .panel, .alert {
  box-shadow: 1px 1px 3px rgba(#777, .2);
}

html { 
  background: url("stolenbg_20_black_overlay.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  body { background: none; }
}